[submodule "Carthage/Checkouts/HDF5Kit"]
	path = Carthage/Checkouts/HDF5Kit
	url = https://github.com/aleph7/HDF5Kit.git
[submodule "Carthage/Checkouts/Peak"]
	path = Carthage/Checkouts/Peak
	url = https://github.com/hoseking/Peak.git
[submodule "Carthage/Checkouts/Upsurge"]
	path = Carthage/Checkouts/Upsurge
	url = https://github.com/aleph7/Upsurge.git
[submodule "Carthage/Checkouts/BrainCore"]
	path = Carthage/Checkouts/BrainCore
	url = https://github.com/aleph7/BrainCore.git
[submodule "Carthage/Checkouts/PlotKit"]
	path = Carthage/Checkouts/PlotKit
	url = https://github.com/aleph7/PlotKit.git
[submodule "Carthage/Checkouts/CommandLine"]
	path = Carthage/Checkouts/CommandLine
	url = https://github.com/jatoben/CommandLine.git
