[submodule "Submodules/tempo"]
	path = Submodules/tempo
	url = git@github.com:venturemedia/tempo.git
[submodule "Submodules/MusicKit"]
	path = Submodules/MusicKit
	url = git@github.com:venturemedia/musickit.git
[submodule "Submodules/json"]
	path = Submodules/json
	url = https://github.com/nlohmann/json.git
[submodule "Submodules/Peak"]
	path = Submodules/Peak
	url = git://github.com/hoseking/Peak.git
[submodule "Submodules/HDF5Kit"]
	path = Submodules/HDF5Kit
	url = git://github.com/aleph7/HDF5Kit.git
[submodule "Submodules/Upsurge"]
	path = Submodules/Upsurge
	url = git://github.com/aleph7/Upsurge.git
[submodule "Submodules/PlotKit"]
	path = Submodules/PlotKit
	url = git://github.com/aleph7/PlotKit.git
[submodule "Submodules/BrainCore"]
	path = Submodules/BrainCore
	url = git://github.com/aleph7/BrainCore.git
