# Xcode per-user config
*.mode1
*.mode1v3
*.mode2v3
*.pbxuser
xcuserdata/
*.xccheckout
*.xctimeline

# Dependecy management
Pods
Carthage

# Other directories
build/
bin/
doc/
AudioData

# Converter files
Converters/out/
Converters/sf/
